#outputField {
    background-color: #f0f0f0; 
    border-radius: 10px; 
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); 
    width: 60%;
    margin: 0 auto
}


#inputFieldTranslation {
    border: 10px solid #9571b3;
    border-radius: 70px;
    padding: 30px;
    font-size: 20px;
    width: 60%;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
    background-color: lightgray;
    /* background-image: linear-gradient(lightgrey, grey); */
    
  }
  
  #inputFieldTranslation:focus {
    border-color: #9571b3; /* Customize the color to match your design */
    outline: none; /* Remove default blue outline on some browsers */
    box-shadow: 0 0 5px rgba(108, 99, 255, 0.5); /* Optional: Add a subtle box-shadow */
  }
  
  ::-webkit-input-placeholder {
    text-align: center;
  }
  
  :-moz-placeholder {
    text-align: center;
  }
  
  #translate-btn {
    border: 5px solid #9571b3;
    /* background-image: linear-gradient(lightgrey, #9571b3); */
    border-radius: 50px;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
    background-color: lightgray;
  }