@font-face {
  font-family: LoveYa;
  src: url(LoveYaLikeASister-Regular.ttf);
}

h2{
  font-family: LoveYa;
  color:white;
}


body{
    font-family: fantasy;
    color:rgb(92, 88, 88);
}

.material-symbols-outlined {
  color:darkorchid;
  position: absolute;
  border-radius: 25px;
}

#inputField {
  border: 10px solid #9571b3;
  border-radius: 70px;
  padding: 30px;
  font-size: 20px;
  width: 60%;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
  background-color: lightgray;

  
}

#inputField:focus {
  border-color: #9571b3;
  outline: none; 
  box-shadow: 0 0 5px rgba(108, 99, 255, 0.5); 
}

::-webkit-input-placeholder {
  text-align: center;
  
}

:-moz-placeholder {
  text-align: center;
}

#continueBtn {
  border: 5px solid #9571b3;

  border-radius: 50px;
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
  background-color: lightgray;
}
#img-logo{
  width:150px;
  position: absolute; 
  left: 10px; 
  bottom: 1px;
  z-index: 1; 
}

aside {
  position: relative;
}