@font-face {
  font-family: LoveYa;
  src: url(LoveYaLikeASister-Regular.ttf);
}
h2{
  font-family: LoveYa;
  color:white;
}


body{
    /* background-color:darkgoldenrod; */
    font-family: fantasy;
    color:rgb(92, 88, 88);
}

.material-symbols-outlined {
  color:darkorchid;
  position: absolute;
  /* transform: translateY(-50%); */
  border-radius: 25px;
}

#inputField {
  border: 10px solid #9571b3;
  border-radius: 70px;
  padding: 30px;
  font-size: 20px;
  width: 60%;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
  background-color: lightgray;
  /* background-image: linear-gradient(lightgrey, grey); */
  
}

#inputField:focus {
  border-color: #9571b3; /* Customize the color to match your design */
  outline: none; /* Remove default blue outline on some browsers */
  box-shadow: 0 0 5px rgba(108, 99, 255, 0.5); /* Optional: Add a subtle box-shadow */
}

::-webkit-input-placeholder {
  text-align: center;
  
}

:-moz-placeholder {
  text-align: center;
}

#continueBtn {
  border: 5px solid #9571b3;
  /* background-image: linear-gradient(lightgrey, #9571b3); */
  border-radius: 50px;
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
  background-color: lightgray;
}
#img-logo{
  /* position: absolute;
  left: 20px;
  top: 80px;
  right: 50px; */
  position: absolute; /* Set the image to absolute positioning */
  top: 50px; /* Adjust the top offset as needed */
  left: 50px; /* Adjust the left offset as needed */
  z-index: 1; 
}
#inputSection{
  margin-top: 100px;
}

aside {
  position: relative;
}